ol{
    padding: 0;
    margin: 0;
}
.Pagination{
    display: flex;
    justify-content: center;
    /* font-family: 'Inter';
    font-style: normal;
    font-weight: 400; */
    font-size: 16px;
    line-height: 19px;
}

.PaginationList{
    display: flex;
    list-style: none;
}
/* not vorking because it is not child any more. li became colletion children */
.PaginationPageBtn:not(:last-child) {
    border-right: none;
}

.ShowNextBtn {
    font-weight: 700;
    border-radius: 2px;
    margin-left: 10px;
}
.ShowPrevBtn {
    font-weight: 700;
    border-radius: 2px;
    margin-right: 10px;
}