.property-list__section > .view-mode {
    margin-bottom: 35px;
}

.property-list__collection {
    margin-bottom: 80px;
}

.property-list__collection_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 42px 30px;
}

.property-list__collection_list > li:not(:last-child) {
    margin-bottom: 44px;
}

