.propertyList__section {
    max-width: 1096px;
    margin: 0 auto;
    margin-bottom: 63px;
}

.propertyList__section > .view-mode {
    margin-bottom: 35px;
}

.propertyList__list {
    margin-bottom: 80px;
}

.propertyList__list.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 42px 30px;
}

.propertyList__list.list > li:not(:last-child) {
    margin-bottom: 44px;
}

