.Btn {
    text-align: center;
    color: #74777C;
    background-color: #FFFFFF;
    border: 1px solid #74777C;
}

.Btn__m_size {
    height: 40px;
    width: 40px;
}

.Btn__l_size {
    height: 45px;
    width: 150px;
}

.Btn__border-none {
    border: none;
}

.Btn__border-left {
    border-radius: 2px 0px 0px 2px; 
}

.Btn__border-round {
    border-radius: 2px;
    margin: 0 10px;
}

.Btn__border-right{
    border-radius: 0px 2px 2px 0px;
}

.Btn:disabled,
.Btn:hover {
    background-color: #F1F3F6;
}
