.nav_header {
    width: 100%;
    max-width: 1920px;
    height: 241px;
    display: flex;
    background-image: url(./backdrop.jpg);
    background-position: 0px auto;
    background-repeat: no-repeat;
}

.nav_text {
    text-transform: uppercase;
    color: #FFFFFF;
}
