* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 8px;
}

.grid {
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.grid.Btn{
    border-right:none;
}

.list {
    border-radius: 2px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.view-mode {
    display: flex;
    justify-content: right;
    margin: 0px;
    padding: 0px;
}

.pict{
    vertical-align: middle;
}