.view-mode-text {
    font-size: 16px;
    color: #74777C;
    padding-right: 12px;
}

.view-mode {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-icon {
    vertical-align: middle;
}