.title__name {
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: #DF434A;
}

.title__location {
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4D4F52;
    margin-top: 4px;
}

.title__details {
    display: flex;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #74777C;
    align-items: baseline;
}

.title__details_type::after {
    margin: 0 7px;
    content: "|";
    color: #E4E4E4;
}

.title__details_type {
    margin-right: 7px;
}

.title__details_type > svg {
    vertical-align: middle;
    margin-right: 8px;
}

.title__details_id {
    margin-left: auto;
}
