.title__section {
 width: 100%;
 width: 1094px;
 margin: auto;
}

.title__name {
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #DF434A;
margin: 0;
}

.title__location {
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #4D4F52;
margin: 4px 0 0 0;
}

.title__details {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.details__id-card {
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #74777C; 
margin-left: auto; 
}

.details__type-card {
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #74777C;
}

.details-list-item {
  margin-right: 7px;
  align-items: center;
}


