.property {
    position: relative;
    display: flex;
}

.property_grid {
    flex-direction: column; 
} 

.property__banner {
    position: relative;
    left: 10px;
}

.property__banner > .price-label {
    position: absolute;
    top: 10px;
    left: -6px;
}

.property__banner_photo {
    width: 345px;
    min-height: 100%;
    height: 305px;
    
    object-fit: cover;
}
.property__dscrpt {
    display: flex;
    flex-direction: column;
    position: relative;
}

.property__dscrpt_grid {
    left: 10px;  
}

.property__dscrpt_list {
    left: 36px;
}

.property__dscrpt_title {
    margin-top: 20px;
    margin-bottom: 2px;
    color: #4D4F52;
}

.property__dscrpt_address {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #74777C;
    font-style: italic;
}

.property__dscrpt_address::after{
    position: absolute;
    left: 0;

    content: "";
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
    margin-top: 35px;
}

.property__dscrpt_text {
    margin-top: 20px;
    margin-bottom: 24px;
    color: #74777C;
} 












