.floorplan__section{
    padding-bottom: 100px;
    margin: 0 auto;
    width: 1094px;
}

.floorplan__frame{
    height: 614px;
    /* background-image: url(./placeholder.png);
    background-position: center;
    background-size: cover; */

    position: relative;
}

.floorplan__toggle {
    font-size: 20px;
    line-height: 30px;
    color: #4D4F52;

    position: absolute;
}
.floorplan__menu{
    list-style: none;
    padding: 0;
    display: flex;
}
.floorplan__menu-item:not(:last-child){
    margin-right: 26px;
}
.floorplan__picture {
    width: 100%;
    object-position: center;
}