.floorplan{    
    margin: 0 auto;
    width: 1094px;
}

.floorplan__frame {
    position: relative;
    height: 614px;
    overflow: hidden;
    object-fit: contain;
    object-position: 50% 50%;
    background-image: url(./img-not-found.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.floorplan__toggle {
    line-height: 30px;
    color: #74777C;

    position: absolute;
    top: 0;  
}

.floorplan__menu{
    display: flex;
}

.menu__item.currentFloor{
    color: #4D4F52;
}

.menu__item:hover{
    cursor: pointer;
    background-color: #ffffff7c;
}

.menu__item:not(:last-child){
    margin-right: 26px;
}

.floorplan__picture {
    height: 100%;
    margin: 0 auto;
}