.contact-form {
  background-color: #F1F3F6;
  margin-top: 100px;
}

.contact-form__list {
  display: flex;
  flex-direction: column;
}

.contact-form__list > li {
  margin-bottom: 20px;
  }

.contact-form__textarea {
  display: grid;
  height: 300px;
  box-sizing: border-box;
  font-size: 20px;
  color: #4D4F52;;
  border-radius: 4px;
  outline: none;    
}

.contact-form__input:invalid {
  border: 1px solid red;
}

.contact-form__input:invalid:required {
  border: 1px solid rgb(0, 255, 51);;
}

.contact-form__input:valid {
  border: 1px solid black;
}

.contact-form__textarea ::placeholder{
  color: #74777c88;
  padding: 16px 0 0 20px;
}

.contact-form__textarea:not(:placeholder-shown){
  border-color: #4D4F52;
}

.contact-form__button {
  align-self: flex-end;
}



