.sidebar__container{
    background-color: #F1F3F6;
    margin: auto;
    flex: 1;
    padding: 30px;
    height: 100%;

}

.sidebar__filter{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

