.footer {
  background: #f1f3f6;
  margin: 0 -50px;
}

.footer__container {
  padding: 50px 84px 50px 400px;
  display: flex;
  margin: 0 auto;
  max-width: 1095px;
}

.footer__contact-info {
  margin-left: 83px;
}

.contact-info__icon {
  border: 1px solid #4d4f52;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  object-fit: none;
}

.contact-info__title {
  color: #4d4f52;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 0;
}

.contact-info__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.contact-info__item {
  display: flex;
  text-decoration: none;
  color: #74777c;
  align-items: center;
}

.contact-info__text {
  padding-left: 5px;
  margin-right: 40px;
  font-size: 15px;
  padding-top: 6px;
  white-space: nowrap;
}
